<html>
    <head>

    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/mysql">Mysql</a></li>
            </ul>
        </nav>
    </body>
</html>